h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 70px;
    color: #EC8675;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    color: #081158;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #081158;
}
p{
   
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    color: #081158;    
}

html{
    scroll-behavior: smooth;
}
body{
    width: 1840px;
    margin: 0 auto;
    padding: 0;
}


/*heder*/
.navigation{
    
    margin: 0 44px 0 44px;
    display: flex;
    justify-content: space-between;

}
.nav{
    display: flex; 
       
}
.nav_btm{
    padding: 11px 30px 11px 30px;
}
.nav_btm a{
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;    
    color: #081158;
    transition: 0.7s;
}
.nav_btm:hover{
    scale: 1.1;
    font-size:15px;    
    background-color: #EC8675;  
    border-radius: 6px;
}



/*display1_main*/
.display_main{
    width: 1840px;
    height: 1005px;    
    background-color: #E5E5E5;    
}
.display1_main{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;    
    width: 1366px;
    
    
}
.block1_imange_main{
    width: 659px;
    height: 800px;        
    
}
.img_change{
    position: relative;
    bottom: 60px;
    width: 659px;
    height: 700px;
    overflow: hidden;
    background-image: url(../img/mainBaner1.png);
    animation: change 10s infinite ease-in-out;
}
@keyframes change { 
    0%{
        background-image: url(../img/mainBaner1.png);
    }
    25%{
        background-image: url(../img/mainBaner2.png);
    }
    50%{
        background-image: url(../img/mainBaner3.png);
    }
    75%{
        background-image: url(../img/mainBaner4.png);
    }
    100%{
        background-image: url(../img/mainBaner1.png);
    }
}
.block1_imange_main h1{  
    width:659px;
    text-align: center;

}
.block2_text_main{
    margin-top: 190px;
    width: 600px;
    height: 519px;
   
}
.about{
    margin-bottom: 70px;
    width: 499px;
    height: 108px;
}
.nav_btm1 {
            
    padding: 20px 30px 20px 30px;
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
    background-color: #081158;    
    color: #ffffff;
    border-radius: 6px;
    transition: 0.7s;
}
.nav_btm1:hover{
    scale: 1.1;
    font-size:15px;    
    background-color: #EC8675;
    color: #081158;  
    border-radius: 6px;
}


/*happy_clint*/
.happy_clint{
    height: 165px;
    width: 1830px;
    background-color: #081158;
    display: flex;
    justify-content: space-between;
}
.colloms_clint_text{

    height: 65px;
    width: 422px;    
    margin-left: 70px;
    margin-top: 50px;
}
.colloms_clint_text h3{
    color: #E5E5E5;    
    text-align: center;
    margin: 0;

}
.colloms_clint_text p{
    color: #E5E5E5;    
    text-align: center;
    text-transform: uppercase;

}

/*"display2_meeting*/

.display2_meeting{
    margin: 0 auto;
    width: 1146px;
    height: 1500px;    
}
.learning{
    margin: 40px 0 0 0;
    width: 1150px;
    height: 232px;    
    text-align: center;
}
.block1_learning h2{
    width: 703px;
    padding-bottom: 40px;
    margin: 0 auto;
}
.text_about{
    position: relative;
    visibility: hidden;
    top: -80px;
    opacity: 0;
    transition: 0.3s ease-in-out;       
}

.colloms_coachs:hover .text_about{   
    visibility: visible;
    opacity: 1;
    top: -40px; 
}
.arrow{
    position: relative;
    transition: 0.5s; 
}
.colloms_coachs:hover .arrow{
    position: relative;
    transform: rotate(180deg);
    top:110px;
}
.anothe_h1{
    font-size: 19px;
}
.anothe_h1_blink{
    font-size: 19px;
    animation: blinker 5s linear infinite;
}
@keyframes blinker{
    0%
    {
        opacity: 1;
    }
    50%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}
.block2_learning{
    position: absolute;
    width: 906px;
    height: 1208px;    
    display: grid;
    row-gap: 20px;
    grid-template-columns: auto auto;
    margin: 80px 0 0 0;

}
.colloms_coachs{
    width: 299px;
    height: 591px;
    margin-left: 180px;
}

/*display3_FitnessPlans*/

.display3_FitnessPlans{
    width: 1840px;
    height: 1075px;
    background-color:#EEF0F4;
    background-image: url(../img/background.svg);
    background-size: cover;
}
.fitnessPlans{
    width: 1425px;
    height: 1075px;
    margin: 0 auto;

}
.block1_fitnesText{
    margin-left: 94px;
}
.block1_fitnesText h2, p {
    width: 674px;
    margin-bottom: 40px;
}
.fitness_colums{
    display: grid;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    width: 1424px;
    height: 596px;
    margin: 0 auto;

}
.workOut{
    position: relative;
    width: 423px;
    height: 561px;
    margin-top: 60px;
    transition: 0.5s;

}
.workOut:hover{
    transform: scale(1.1);
    bottom: 10px;
    -webkit-box-shadow: -1px 25px 32px -5px rgba(34, 60, 80, 0.7);
    -moz-box-shadow: -1px 25px 32px -5px rgba(34, 60, 80, 0.7);
    box-shadow: -1px 25px 32px -5px rgba(34, 60, 80, 0.7);
}
.block{
    width: 383px;
    height: 105px;
    margin: 0 auto;
}
.options{
    width: 423px;
    height: 161px;
    background-color: #FFFFFF;
}
.options h3{
    position: relative;
    top: -50px;
}
.newP{
    position: relative;
    top: -70px;
}
.minutes{

    display: flex;
    justify-content: space-between;
}
.image_work1{

    width: 423px;
    height: 400px;
    background-image: url(../img/work1.png);
    background-size: cover;
}
.image_work2{

    width: 423px;
    height: 400px;
    background-image: url(../img/work2.png);
    background-size: cover;
}
.image_work3{

    width: 423px;
    height: 400px;
    background-image: url(../img/work3.png);
    background-size: cover;
}

/*video*/

.display4_video{
    width: 1826px;
    height: 560px;
    overflow: hidden;
    position: absolute;
    

}
.display4_video h1{
    z-index: 1;
    width: 1777px;
    align-items: center;
    text-align: right;
    margin-top: 210px;
}
.video{
    position: absolute;
    z-index: -1;
    width: 100%;    

}


/*FitnessPlans*/
.display5_FitnessPlans{
    width: 1840px;
    height: 1075px;
    margin-top: 560px;
    background-color:#081158;    
    background-size: cover;
}

.workOut2{
    position: relative;
    width: 423px;
    height: 561px;
    margin-top: 80px;
    transition: 0.5s;

}
.workOut2:hover{
    transform: scale(1.1);
    bottom: 10px;
    -webkit-box-shadow: -1px 25px 32px -5px rgba(12, 22, 29, 0.7);
    -moz-box-shadow: -1px 25px 32px -5px rgba(12, 22, 29, 0.7);
    box-shadow: -1px 25px 32px -5px rgba(12, 22, 29, 0.7);
}
.block1_fitnesText2 h2, p {
    width: 674px;
    margin-bottom: 40px;
}
.block1_fitnesText2 h2{
    margin-left: 90px;
    color: #FFFFFF;
}
.block1_fitnesText2 p{
    color: #FFFFFF;
    margin-left: 90px;
}
.image_work4{

    width: 423px;
    height: 400px;
    background-image: url(../img/work4.png);
    background-size: cover;
}
.image_work5{

    width: 423px;
    height: 400px;
    background-image: url(../img/work5.png);
    background-size: cover;
}
.image_work6{

    width: 423px;
    height: 400px;
    background-image: url(../img/work6.png);
    background-size: cover;
}
.prices p {
    position: relative;
    bottom: 15px;
    text-align: right;    
    text-decoration-line: line-through;
    font-family: 'Permanent Marker';
    font-size: 14px;
    color: #AFAFAF;
}
.conteiner{
    position: relative;
    bottom: 40px;
}



/*display6*/
.display6_Benefits{
    margin-top: 150px;
    width: 1830px;
    height: 793px;
}
.benefits_main{
    width: 1538px;
    height: 746px;
    margin: 170px 0 0 296px;
    display: flex;
    justify-content: space-between;
    
}
.benefits_text{
    margin-top: 100px;
}
.benefits_text h2 {
    width: 618px;  

}
.benefits_text p {
    width: 460px;
    margin-bottom: 80px;  

}
.benefits_imaage{
    width: 645px;
    height: 672px;
    
}

.background{
    position: absolute;
    width: 644px;
    height: 612px;
    background-image: url(../img/background_displa6.svg);
    background-size: cover;
    background-color: #081158;   
}

.main_picturies{
    position: relative;
    width: 507px;
    height: 500px;
    left: 80px;
    top: 171px;
    background-image: url(../img/main_displa6.png);
    background-size: cover;
    
}

/*display7*/
.baner{
    width: 1821px;
    height: 710px;
    background-image: url(../img/Frame\ 1.jpg);
    background-size: cover;
    overflow: hidden;
}
/*display8*/
.display8_main{
    width: 1840px;
    height: 856px; 
    overflow: hidden;

}
.display8_main h2{
    position: relative;
    left: 800px;
    
}
.slick{
    position: relative;
    z-index: 0;
    width: 1840px;
    height: 659px;
    background-color: #081158;
    background-image: url(../img/background_displa8.svg);
    background-size: cover; 
}
.slick_content{
    position: relative;
    top: 200px;
    width: 955px;
    height: 304px;
    margin: 0 auto;
    padding:  0px 30px;   
    
}
.slick-initialized .slick-slide {
    display: flex;
    justify-content: space-between;
}
.faceSlint1{
    width:296px;
    height:296px;
    background-image: url(../img/coment_face1.png);
    background-size: cover; 
}
.faceSlint2{
    width:296px;
    height:296px;
    background-image: url(../img/coment_face2.png);
    background-size: cover; 
}
.faceSlint3{
    width:296px;
    height:296px;
    background-image: url(../img/coment_face3.png);
    background-size: cover; 
}
.faceSlint4{
    width:296px;
    height:296px;
    background-image: url(../img/coment_face4.png);
    background-size: cover; 
}


.coment_text h4{
    font-family: 'Red Hat Display';
    font-size: 36px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.coment_text p{  
    width: 493px;
    height: 116px;  
    font-size: 24px;
    color: #FFFFFF;
    
}
.slick_content .slick-arrow{
    position: absolute;   
    z-index: 5;
    margin: 0px -60px 0px -60px;
    width: 85px;
    height: 285px;    
    font-size: 0;
    border: 0;
    
    
}
.slick_content .slick-arrow.slick-prev{
    top: 123px;
    left: 0;   
    background: url(/img/arrow_left.svg) 0 0 /100% no-repeat;
}
.slick_content .slick-arrow.slick-next{
    top: 123px;
    right: 0;
    background: url(../img/arrow_right.png) 0 0  no-repeat;
}

.slick_content .slick-dots{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slick_content li{
    list-style: none;
    margin: 0 10px;
}
.slick_content button{
    font-size: 0;
    width: 5px;
    height: 15px;
    background-color: #FFFFFF;
    border-radius: 100%;
}
.slick_content .slick-dots li.slick-active button{
    background-color: transparent;
    border: 2px solid #FFFFFF;
}


/*display9*/
.display9_posts{
    height: 993px;
    width: 1840px;
}
.display9_main{
    width: 1840px;
    height: 1125px;
}
.potstMain_text{
    width: 1840px;
    height: 292px;
    margin-bottom: 50px;
}
.potstMain_text p{
    position: relative;
    margin: 0 auto;
    width: 775px;
    top: 90px;
    text-align: center;
}
.more{
    position: relative;
    width: 84px;    
    top: 180px;
    left: 890px;
    padding: 11px 30px 11px 30px;
    transition: 0.7s;
}
.more a{
    text-decoration: none;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 14px;
}
.more:hover{
    font-size: 16px;
    cursor: pointer;
    text-decoration-line: underline;
}
.posts{
    width: 1356px;
    height: 600px;
    margin: 0 auto;    
    overflow: hidden;
    display: grid;
    row-gap: 20px;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}
.post1{
    width: 419px;
    height: 600px;
    background-image: url(../img/post1.png);
    background-size: cover;   
}
.post2{
    width: 419px;
    height: 600px;
    background-image: url(../img/post2.png);
    background-size: cover;    
}
.post3{
    width: 419px;
    height: 600px;
    background-image: url(../img/post3.png);
    background-size: cover;    
}
.post4{
    width: 419px;
    height: 600px;
    background-image: url(../img/post3.png);
    background-size: cover;    
}
.post5{
    width: 419px;
    height: 600px;
    background-image: url(../img/post1.png);
    background-size: cover;    
}
.post6{
    width: 419px;
    height: 600px;
    background-image: url(../img/post2.png);
    background-size: cover;    
}
.post_block, .post_block1, .post_block2, .post_block3, .post_block4, .post_block5, .post_block6 {
    position: relative;
    margin: 0 auto;
    width: 361px;
    height: 222px;
    top: 323px;
}
.post_name{
    width: 68px;
    height: 26px;
    text-align: center;
    border-radius: 3px;        
    background-color: #CFDDEE;
    margin-bottom: 10px;
}
.post_main, .post_main1, .post_main1, .post_main2, .post_main3, .post_main4, .post_main5, .post_main6 {
    position: relative;
    width: 359px;
    height: 195px;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.writer{
    width: 319px;
    height: 30px;
    margin: o auto;
    display: flex;
    padding: 20px;    
}
.writer >p{
    width: 280px;
    height: 30px;
    margin: 0;
    position: relative;
    padding: 20px;
    bottom: 20px;
}
.icon_writer{
    width: 29px;
    height: 30px;
    background-image: url(../img/icon_writer.png);
    background-size: cover; 
}
.post_main h3, .post_main1 h3, .post_main2 h3, .post_main3 h3, .post_main4 h3, .post_main5 h3, .post_main6 h3{
    position: relative;
    bottom: 20px;
    margin: 0;
    padding: 20px;
}
.article_more, .article_more1, .article_more2, .article_more3, .article_more4, .article_more5, .article_more6 {
    position: relative;
    bottom: 45px;
    margin: 0;
    padding: 20px;
    width: 280px;
    height: 30px;
    text-align: right;
    cursor: pointer;
    
}
.article_more:hover, .article_more1:hover, .article_more2:hover, .article_more3:hover, .article_more4:hover, .article_more5:hover, .article_more6:hover{
    text-decoration: underline;
    color: #EC8675;
}
.post_block:hover, .post_block1:hover, .post_block2:hover, .post_block3:hover, .post_block4:hover, .post_block5:hover, .post_block6:hover{
    position: relative;
    margin: 0 auto;
    width: 361px;
    height: 1000px;  
}
.lorem, .lorem1, .lorem2, .lorem3, .lorem4, .lorem5, .lorem6{
    position: relative;
    margin: 0 auto;    
    font-size: 0;  
}


/*display9*/
.display10_socialMedia{    
    width: 1840px;
    height: 1282px;    
    background-color: #EEF0F4;
}
.display10_main{
    position: relative;
    top: 200px;
    width: 1840px;
    height: 908px;
    overflow: hidden;
}
.blockPic1{
    position: relative;
    display: flex;
    right: 573px;
    width: 2400px;
    height: 400px;    
    margin: 40px 0px 40px 0px;    
    animation-name: left;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}
.blockPic2{
    position: relative;
    display: flex;
    width: 2400px;
    height: 400px;    
    top: 30px;
    animation-name: right;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes right{
    0%{ transform: translateX(-594px)}
    100%{transform: translateX(22px)}
}
@keyframes left{
    0% { transform: translateX(594px)}
    100% {transform: translateX(-22px)}
}
.pic1{
    width: 400px;
    height: 400px;
    margin-right: 100px;   
    background-image: url(../img/final_pic1.png);
    background-size: cover;
}
.pic2{
    width: 400px;
    height: 400px;
    margin-right: 100px;  
    background-image: url(../img/final_pic2.png);
    background-size: cover;
}
.pic3{
    width: 400px;
    height: 400px;
    margin-right: 100px;  
    background-image: url(../img/final_pic3.png);
    background-size: cover;
}
.pic4{
    width: 400px;
    height: 400px;
    margin-right: 100px;  
    background-image: url(../img/final_pic4.png);
    background-size: cover;
}
.pic5{
    width: 400px;
    height: 400px;
    background-image: url(../img/final_pic5.png);
    background-size: cover;
}
.pic6{
    width: 400px;
    height: 400px;
    margin-right: 100px;
    background-image: url(../img/final_pic6.png);
    background-size: cover;
}
.pic7{
    width: 400px;
    height: 400px;
    margin-right: 100px;  
    background-image: url(../img/final_pic7.png);
    background-size: cover;
}
.pic8{
    width: 400px;
    height: 400px;
    margin-right: 100px;
    background-image: url(../img/final_pic8.png);
    background-size: cover;
}
.pic9{
    width: 400px;
    height: 400px;
    margin-right: 100px; 
    background-image: url(../img/final_pic9.png);
    background-size: cover;
}
.pic10{
    width: 400px;
    height: 400px;
    background-image: url(../img/final_pic10.png);
    background-size: cover;
}

.block3_baner{
    position: relative;
    width: 1840px;
    height: 275px;
    bottom: 500px;
    background-color: #EC8675;

}
.block3_baner_icons{
    position: relative;
    top: 110px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1312px;
    height: 138px;

}
.icon{
    display: flex;    
    width: 260px;
    height: 57px;
    text-decoration: none;
    
}

.icon_socialmedia{
    position: relative;
    bottom: 6px;
    font-size: 20px;
    margin-left: 10px;
    width: 260px;
    height: 57px;   
    color: #FFFFFF;
    
}
/*footer*/
.footer{
    width: 1840px;
    height: 459px;
    
    background-color: #081158;
}
.footer_main{
    position: relative;
    top: 60px;
    display: flex;
    justify-content: space-between;
    width: 1368px;
    height: 300px;
    margin: 0 auto;
        
}
.footer_logo{
    position: relative;
    top: 120px;
    
}
.footer_main a{
    color: #FFFFFF;
    text-decoration: none;
}
.footer_main a:hover{
    color: #EC8675;
    text-decoration: none;
}
.footer_main h4{
    color: #FFFFFF;
    font-size: 18px;
}
.footer_main p{
    color: #FFFFFF;
    font-size: 16px;
}

/*modl_window*/
.modal-content {
    background-image: url(../img/Mask\ group.svg);  
    background-size: cover;
    background-color: #fefefe;
    margin: auto;    
    border: 1px solid #888;
    width: 1217px;
    height: 769px;
  }  
  .close {
    position: relative;
    z-index: 2;    
    top: 30px;
    right: 30px;
    padding: 25px;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }  
  .close:hover,
  .close:focus {

    color: #EC8675;
    text-decoration: none;
    cursor: pointer;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto ; /* Enable scroll if needed */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  

  .modal_text{
    
    width: 1217px;
    height: 139px;
    background-color: #081158;
  }
  .modal_text h3{
    position: relative;
    top: 30px;
    width: 849px;
    height: 128px;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
  }
  .modal_mainContent{
    position: relative;
    top: 80px;
    width: 695px;
    height: 577px;
    margin: 0 auto;
    
  }
  .row{
    display: flex;
    
  }
  .row p{
    width: 151px;
    height: 20px;
    font-size: 39px;
    margin: 0;
    color: #cbced3;
    text-align: center;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  input[type=text], select, textarea{
    width: 500px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #EEF0F4;    
    border-radius: 6px;    
  } 
  .code{

    float: right;
    width: 45%;
  }
  .phone_1{
    width: 350px;
    padding: 10px;
    outline: none;
    border: none;
    background-color: #EEF0F4;
    border-radius: 6px; 
    
  }
  .col_lab{
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  .col_imp{
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .citys{
    width: 522px;
  }


